.DS_Store
btop/
clash/
configstore/
fontforge/
github-copilot/
kitty/
neofetch/
.idea/
gh/
iterm2/
nvim/plugin/packer_compiled.lua
raycast
thefuck
Wondershare
jgit
htop
helix
Battle.net
karabiner/automatic_backups
nvim/lazy-lock.json