" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

let mapleader = " "
" 相对行号
set nu
set relativenumber

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
Plug 'easymotion/vim-easymotion'
Plug 'preservim/nerdtree'


" 在使用U、D 上下翻半页后，保持当前的指针处于页面的中部
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz

" 同样的，保持search模式中，查找下、上一个时，指针 in the middle
nnoremap n nzzzv
nnoremap N Nzzzv

" toggle NERDTree
map <leader>e :NERDTreeToggle<CR>
" global searching(jump)
map <leader>j <Plug>(easymotion-s)
" forward searching
map <leader>f <Plug>(easymotion-f)

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
